@using System.Diagnostics
@using EventHorizon.Blazor.Server.Interop;

<div>
    <h3>Interop Call Test</h3>
    <ReportTimeTaken TimeTaken="TimeTaken" Runs="_max" />
    <button class="run-btn" @onclick="HandleRunTest">Run</button>
</div>

@code {
    public TimeSpan TimeTaken { get; set; }

    const int _max = 1_000;
    private async Task HandleRunTest()
    {
        // Create CachedEntity
        var cachedEntity = await EventHorizonBlazorInterop.New(
            new string[] { "Vector3" },
            1,
            2,
            3
        );
        var s1 = Stopwatch.StartNew();
        for (int i = 0; i < _max; i++)
        {
            await RunTest(cachedEntity);
        }
        s1.Stop();
        TimeTaken = s1.Elapsed;
        Console.WriteLine(((double)(s1.ElapsedMilliseconds * 1000000) / _max).ToString("0.00 ns"));
    }

    public ValueTask RunTest(ICachedEntity cachedEntity)
    {
        return EventHorizonBlazorInterop.Call(
            cachedEntity,
            "addInPlaceFromFloats",
            1,
            1,
            1
        );
    }
}
